button {
  width: 50%;
  align-self: center;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1776db;
  border-radius: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
  
button:hover {
  background-color: #0056b3;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
  font-size:large;
}

.tweet{
  transform: scale(0.5);
  text-align: left;
  font-size: small;
}

.button{
  width: fit-content;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.button:hover{
  transform: scale(1.05);
}
